<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNBoKUap4uAIp3x5S4oXFBCVN_PHTW1aw</string>
	<key>GCM_SENDER_ID</key>
	<string>906279944668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emerfigy</string>
	<key>PROJECT_ID</key>
	<string>emergify-app-f2bb4</string>
	<key>STORAGE_BUCKET</key>
	<string>emergify-app-f2bb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906279944668:ios:3e5c0cb00b0368d4c18f19</string>
</dict>
</plist>